.credentials
/.idea
final_data.json
movieRecommendation/.idea
/movieRecommendation/__pycache__
/movieRecommendation/movieRecommendation/__pycache__
/movieRecommendation/movieRecommendationAPI/__pycache__
*.pyc
featuresResNet*
movie_reviews.json
*.csv
movieReviews.json
*.joblib