@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    font-size: 30pt;
    font-weight: 600;
    text-align: center;
    color: #34455d;
}

.paginationbuttons {
    background-color: #1f2937;
    cursor: pointer;
}

.paginationbuttons:hover {
    background-color: #496183;
}

.paginationbuttons:active {
    background-color: #7399cf;
}

.searchbar {
    height: 10vh;
    border-radius: 8rem;
}